@font-face {
	font-family: 'Pollock1CTT';
	src: url('../fonts/pollock1ctt.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/pollock1ctt.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/pollock1ctt.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/pollock1ctt.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/pollock1ctt.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/pollock1ctt.svg#pollock1ctt') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    min-height: 100%;
    font-family: 'Pollock1CTT', serif;
    scroll-behavior: smooth;
    background-color: #aa3406;
}

.header {
    position: fixed;
    top: 39px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-container {
    background-color: #aa3406;
    padding: 14px 33px;
    max-width: 892px;
    width: 100%;
    color: #fff;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 83px;

}

.header-logo_container {
    display: flex;
    align-items: center;
    gap: 83px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content_number {
    display: flex;
    gap: 27px;
    align-items: center;

    text-shadow: #2f2f2fc2 0px 4px 4px;
    flex-grow: 1;
    justify-content: end;
    margin-right: 37px;
}

.content_number__link_item {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    color: #fff;

}

.content_number__icon {
    width: 51px;
    position: relative;
    height: 47px;
    z-index: 2;
}

.content_number__icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/hearth.png') 50% / contain no-repeat;
    z-index: 2;
}

.content_number__icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100px;
    z-index: -2;
    width: 1px;
    height: 1px;
    box-shadow: #2f2f2f46 0 0 50px 40px;
}

.footer {
    position: fixed;
    bottom: 9px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer-container {
    max-width: 828px;
    padding: 0 16px;
    margin: 0 auto;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .content_number__link_item {
    transition: transform .3s ease;
}

.footer .content_number__link_item:hover {
    transform: translateY(-5px);
}

.logo {
    height: 100%;
}

.main {
    position: relative;
}

.slide {
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-radius: 100px 100px 0 0;
    transition: border-radius 0.1s ease-out;
}

.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.1s ease-out;
}

.slide:first-child {
    border-radius: 0;
}

.slide-content {
    padding: 177px 16px 100px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: fit-content;
    height: 100%;
}

.slide-content-middle {
    margin-top: 110px;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: top;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.slide-content {
    color: #4d7900;

}

.slide-content_column-title {
    flex-grow: 2;
    text-align: center;
    font-size: 45px;
    color: #fff;
    margin-top: 90px;
}

.slide-content p {
    font-size: 30px;
    padding: 4px 10px;
    background-color: #fff;
    display: block;
    width: fit-content;
}

p.slide-title {

    font-size: 45px;
}

.accent-color {
    color: #18ac00;
}

.slide-content-center {
    justify-content: center;
}

.slide-content-end {
    justify-content: end;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-info__icon {
    width: 77px;
    height: 77px;
    flex-shrink: 0;
    background: url('../images/hearth.png') 50% / contain no-repeat;
}

.contact-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width:800px) {
    .header {
        top: 0px;
    }

    .header-logo_container {
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }

    .header-container {
        gap: 10px;
        flex-direction: column;
        align-items: start;
        padding: 10px 16px;

    }

    .content_number {
        flex-grow: 0;
        margin: 0;
        gap: 10px;
    }

    .content_number__link_item {
        font-size: 18px;
    }

    .content_number__icon {
        width: 35px;
        height: 35px;
    }

    .logo_two {
        max-width: 120px;
    }

    .content_number__icon {
        display: none;
    }

    .content_number__link {
        display: flex;
        gap: 10px 30px;
        flex-wrap: wrap;
    }

    .slide-content {
        padding-top: 140px;
    }

    .slide-content p {
        font-size: 28px;

    }

    p.slide-title {

        font-size: 36px;
    }
    .slide-content {
        width: 100%;
    }
    .contact-info {
        flex-direction: column;
        margin: 0 auto;
    }
    .slide-content-middle {
        margin: 0;
    }

    .slide-content_column-title {
        margin: 0;

    }
}

@media (max-width:500px) {
    .logo_two {
        max-width: 80px;
    }

    .logo_one {
        max-width: 100px;
    }

    .footer-container {
        flex-direction: column;
        align-items: start;

    }
    .slide-content_column-title {
        flex-grow: 0;
    }
    .slide-content {
        padding-bottom: 140px;
    }
}